* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --text-color: white;
    --main-color: #0B0A08;
    --border-color: #B41F23;
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--main-color);
}

main {
    width: 80%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}

p {
    color: var(--text-color);
    text-align: center;
    font-size: 2.5rem;
}

header .bg img {
    width: 100%;
    height: 55rem;
}

header .search {
    outline: none;
    background: none;
    margin-left: 2rem;
    width: 35rem;
    height: 3.5rem;
    border-radius: 1rem;
    color: var(--text-color);
    font-size: 2rem;
    padding: 1.2rem;
    border: 0.2rem solid var(--border-color);
}

.search-bar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .search-bar img {
    width: 20rem;
    height: 8rem;
}

.card {
    background-color: var(--border-color);
    color: var(--text-color);
    position: relative;
    margin-top: 6rem;
    padding: 0.2rem;
}

.card img {
    width: 100%;
    height: 75%;
    transition: 0.5s;
}

.card:hover img {
    transform: scale(1.1);
}

.card .title {
    text-align: center;
    padding: 1rem;
    font-size: 1.7rem;
}

.card::after,
.card::before {
    content: '';
    position: absolute;
    background: var(--border-color);
    z-index: -1;
}

.card::before {
    bottom: -2em;
    left: 0;
    width: 75%;
    height: 3em;
}

.card::after {
    bottom: -2em;
    right: 0.9em;
    width: 41%;
    height: 5em;
    transform: rotate(-38deg);
    box-sizing: 1rem;
}

.box-content {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(marvel.jpg);
    color: var(--text-color);
    font-size: 1.3rem;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-box {
    flex-basis: 20%;
}

.left-box {
    flex-basis: 50%;
}


.box-content img {
    width: 30rem;
    height: 40rem;
    border: 0.1rem solid var(--text-color);
    box-shadow: 0 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
    transform: rotate(20deg);
    transition: 0.5s;
}

.box-content img:hover {
    transform: rotate(0deg);
}

.error {
    color: var(--text-color);
    font-size: 5rem;
    margin: 0 auto;
    padding: 5rem;
}

.new-page {
    width: 100%;
    height: 15rem;
    padding: 5rem 1.6rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.bnt-move {
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    width: 15rem;
    height: 5rem;
    margin: 1rem;
    background-color: white;
    color: var(--border-color);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 0.1rem solid var(--border-color);

}

.bnt-move:hover {
    text-decoration: none;
    display: inline-block;
    background-color: var(--border-color);
    color: white;
    font-size: 2rem;
}

button[type="submit"]:disabled {
    background: #d3d3d3;
    opacity: 0.3;
    cursor: not-allowed;
}